extends partial/layout

block container
    include mixins/post
    +postList()
    .archive
        h3(class='archive-year')= '標籤雲'
        script(type='text/javascript', charset='utf-8', src='/js/tagcloud.js')
        script(type='text/javascript', charset='utf-8', src='/js/tagcanvas.js')
        #myCanvasContainer.widget.tagcloud(align='center')
            canvas#resCanvas(width='500', height='300', style='width=100%')
                !=tagcloud()
            !=tagcloud()


block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
